html{
    overflow-y: scroll;
    height: 500px;

  }
body{
  width:215px;
  padding:0;
  font-size: small;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

}
p{
  background-color:#FCFBCA;
  padding:5;
  font-style: italic;
  text-align: center;
}

a{
  display: block;
  color:#333;
  margin: -5px;
  margin-left: 5px;
  text-align: center;
}

a:hover{
  color:red;
};

a:visited{
  color:#333;
};



.resultBox{
}

#content{margin:-5px;}

input{
  width:100%;
}